---
layout: default
title: Meet Hue - Your Guide to Philips Hue Smart Lights
excerpt: Learn about Philips Hue lights. Read expert advice, comparison guides, smart home recipes, kitchen lighting, recessed lighting and more!
---
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><strong>What Is</strong> <small>Hue</small></h1>
    </div>
    <p>
      Hue is your personal, smart, wireless lighting system! Hue lights can adapt to your surroundings, mood, and atmosphere! You can define and control preset scenes, including brightness levels, colors, and color temperature! Most Hue Products are connected via the Bridge that acts as the brain of the system. Switches, controls, apps, and other smart home systems can interact with the Bridge, making Hue completely integrated with your home.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><strong>Guides</strong> <small>to light your home</small></h1>
    </div>
    {% for guide in site.guides %}
    <div class="col-md-6">
      <div class="list-group">
        <a href="{{ guide.url }}" class="list-group-item list-group-item-info">
          <h4 class="list-group-item-heading">{{ guide.title }}</h4>
          <p class="list-group-item-text">{{ guide.excerpt }}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><strong>Compare</strong> <small>Hue Products</small></h1>
    </div>
    <div class="table-responsive">
      <table class="table hue-comparison">
        <thead>
          <tr>
            <th></th>
            {% for feature in site.data.hue.features %}
              <th><p><span class="hue-icon-{{ feature.id }}"></span>{{ feature.name }}</p></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% assign products = site.products | sort: 'order' %}
          {% for product in products %}
          <tr>
            <td><p><a href="{{ product.url }}" data-toggle="popover" data-html="true" data-trigger="hover focus" title="{{ product.name }}" data-content="<div class='text-center'><img class='img-responsive' src='/images/products/{{ product.name | slugify }}.png' /></div>">{{ product.name }}</a></p></td>
            {% for feature in site.data.hue.features %}
              <td>{% if product.features contains feature.id %}<span class="glyphicon glyphicon-ok-circle"></span>{% endif %}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
