---
layout: default
---
<article>

    <div class="page-header">
        <h1>{{ page.title }}</h1>
        {% if page.renderDate == null or page.renderDate == true %}
            <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></small>
        {% endif %}
    </div>

    <div class="post-content">
        {{ content }}
    </div>

    <div>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=54c061a0-5ef5-4d81-b307-b861c96f7f35&storeId=meethue-20"></script>
    </div>
</article>

{% capture id %}guide-{{ page.title | slugify }}{% endcapture %}
{% include discussion.html id=id %}
