---
layout: default
---
<article>

    <div class="page-header">
        <h1>{{ page.title }}</h1>
        <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></small>
    </div>

    <div class="post-content">
        {{ content }}
    </div>

</article>

<h2>Discussion</h2>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = "{{ site.url }}{{ page.url }}";
  this.page.identifier = "guide-{{ page.title | slugify }}";
};
(function() {
var d = document, s = d.createElement('script');

s.src = '//meethue.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>