---
layout: default
---

<div class="page-header">
    <h1>{{ page.name }}</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <img class="img-responsive" src="/images/products/{{ page.name | slugify }}.png" />
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline hue-feature-list">
          <li><h3><small>Features:</small></h3></li>
          {% for feature in site.data.hue.features %}
            {% if page.features contains feature.id %}
              <li class="enabled" data-toggle="tooltip" title="{{ feature.name }}">
                <span class="hue-icon-{{ feature.id }}"></span>
              </li>
            {% else %}
              <li class="disabled" data-toggle="tooltip" title="{{ feature.name }}">
                <span class="hue-icon-{{ feature.id }}"></span>
              </li>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h2>Overview</h2>
    <p>{{ page.description }}</p>
    <div class="text-center">
      <a href="{{ page.purchaseUrl }}" class="btn btn-warning btn-lg">More Details</a>
    </div>
  </div>
</div>

{% for section in page.sections %}
  <h2>{{ section.name }}</h2>
  <p>{{ section.content }}</p>
{% endfor %}

<h2>Specs</h2>
<div class="row">
  {% for spec in page.specs %}
    <div class="col-sm-4">
      <h3>{{ spec.name }}</h3>
      <ul>
        {% for item in spec.items %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{% capture id %}product-{{ page.name | slugify }}{% endcapture %}
{% include discussion.html id=id %}
